@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=League+Gothic&family=Lemon&display=swap");

/*rootear la pagina*/
:root {
    --colorazul: #0a39e4;
    --colornegro: #000000;
    --colorturquesa: #00F6FF;
    --colorgris: #8B8B8B;
    --colorblanco: #FFFFFF;
    --colorcarbon: #323232;
    --colorrojo: #ff0000;
    --colorlago: #00BFBF;

    --fontnunito: "Nunito", sans-serif;
    --fontknewave: "Knewave";
    --fontlalezar: "Lalezar";
    --fontlemon: "Lemon";
    --fontleague: "League Gothic"
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--fontnunito);
    font-size: 16px;

}

/*rootear la pagina*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    text-transform: uppercase;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}




button {
    cursor: pointer;
    border: none;
    padding: 5px 25px;
    border-radius: 50px;
    background-color: var(--colorturquesa);
    font-size: 1.25rem;
    font-weight: 500;

}

.btn1 {
    background-color: var(--colorblanco);
    color: var(--colornegro);
    border: 2px solid var(--colorceleste);
}

.btn1:hover {
    background-color: var(--colorturquesa);
    color: var(--colorazul);
    border: 2px solid var(--colorblanco)
}

.btn2 {
    background-color: var(--colorblanco);
    color: var(--colornegro);
    font-size: 3.5rem;
}

.btn2:hover {
    background-color: var(--colorrojo);
    color: var(--colorblanco);
}

.btn3 {
    background-color: var(--colorblanco);
    color: var(--colornegro);
    font-size: 2.5rem;
}

.btn3:hover {
    background-color: var(--colorblanco);
    color: var(--colorlago);
}

.btn4 {
    background-color: #7dffff;
    color: var(--colornegro);
    font-size: 4rem;
    margin: 40px;
}

.btn5 {
    background-color: #7dffff;
    color: var(--colornegro);
    font-size: 4rem;
    margin: 0px;
}

.btn6 {
    background-color: var(--colorblanco);
    color: var(--colornegro);
    font-size: 2.5rem;
}

.btn6:hover {
    background-color: var(--colorturquesa);
    color: var(--colorazul);
}

.btn7 {
    background-color: transparent;
    color: var(--colornegro);
    font-size: 2.5rem;
}

.btn7:hover {
    color: var(--colorturquesa);
}

.btn8 {
    background-color: var(--colorturquesa);
    color: var(--colornegro);
    border: 2px solid var(--colorceleste);
    font-size: 2rem;
}

.btn8:hover {
    background-color: var(--colorturquesa);
    color: var(--colorazul);
    border: 2px solid var(--colorblanco)
}

.container {
    padding: 20px 25px;
}

.grid_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.grid_2_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.grid_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media (max-width: 1023px) {

    /* Contenedor */
    .container {
        padding: 80px 50px;
    }



    /* Modificar tamaño de h */

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1.4rem;
    }

    h6 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }



    /* Modificar 2 columnas a 1 columna */

    .grid_2 {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .grid_3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {

    /* Contenedor */
    .container {
        padding: 80px 50px;
    }



    /* Modificar tamaño de h */

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1.4rem;
    }

    h6 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    .btn2 {
        background-color: var(--colorblanco);
        color: var(--colornegro);
        font-size: 1.5rem;
    }

    /* Modificar 2 columnas a 1 columna */

    .grid_2 {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .grid_2_2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        align-items: center;
    }

    .grid_3 {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}